*
!/**/
!*.*
*.txt
*.DS_Store
pset1/hello/a.out
pset4/filter/images/courtyard.bmp
pset4/filter/images/stadium.bmp
pset4/filter/images/test.bmp
pset4/filter/images/tower.bmp
pset4/filter/images/yard.bmp
pset7/houses/houses.zip
